/* 
Author: Maria Briceño
Description: A nice thing to make from scratch and make portfolio :)
*/

* {
    padding: 0;
    margin: 0;
}
:root {
    --header-font: 'Bebas Neue', sans-serif;
    --transition-ease:0.3s ease-in-out;
}

div {
    display:block;
}

ul, li {
    list-style-type: none;
}

body {
    background-color:#F1E322;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    padding:3em;
}

header h1 {
    font-family: var(--header-font);
    letter-spacing: 1px;
    cursor: default;
}

header h1:hover {
    text-decoration:underline;
}

section {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#nice-thoughts {
    box-sizing: border-box;
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    width:700px;
    height:200px;
    background-color:black;
    padding:3em;
    transition:var(--transition-ease);
    border-radius: 10px;
    z-index: 50;
}

#nice-thoughts p {
    font-family:Helvetica, sans-serif;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bolder;
    text-transform:uppercase;
    cursor: default;    
}

#quote-mark-up-black {
    position:absolute;
    z-index:70;
    left:-26px;
    top:-10px;
    font-size:200px;
    color:white;
        -webkit-text-stroke-width:0.02em;
        -webkit-text-stroke-color: black;
    font-weight: bolder;
    font-family:var(--header-font);
}

#quote-mark-down-black {
    position:absolute;
    z-index:70;
    right:-27px;
    bottom:-120px;
    font-size:200px;
    color:white;
        -webkit-text-stroke-width:0.02em;
        -webkit-text-stroke-color: black;
    font-weight: bolder;
    font-family:var(--header-font);
}

#nice-thoughts:hover {
    transform: scale(1.01);
}
.inline {
    display:inline-block;
}
#btn-group {
    
    box-sizing: border-box;
    width:700px;
    height:auto;
    margin-top:50px;
    padding:30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.back-btn {
    background-color:black;
    width:100px;
    height:100px;
    border-radius:50px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-ease);
}

.back-btn:hover {
    transform: scale(1.05);
}


#random {
    background-color:black;
    width:120px;
    height:120px;
    border-radius:60px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-ease);
    box-sizing: border-box;
}
#random:hover {
    transform: scale(1.2);
}
#random:active {
    border:3px solid white;
}

.btn {
    text-align:center;
    padding:40px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    font-size:12px;

}

footer {
    border-top: 5px solid black;
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:3% 20% 3% 20%;
}
footer p {
    text-align:center;
    font-size:12px;
}

#left-footer {
    align-self: center;
    height:auto;
    font-family:Helvetica, sans-serif;
}

#middle-footer {
    align-self: center;
    height:auto;
    font-family:Helvetica, sans-serif;
}
#middle-footer img {
    width:10px;
    height:auto;
}
#right-footer {
    align-self: center;
    height:auto;
    font-family:Helvetica, sans-serif;
}

/* MEDIA QUERIES */

@media (max-width:800px) {
    #nice-thoughts {
         width:500px;
        }
    
}

@media (max-width:600px) {
    #nice-thoughts {        
        width:370px;
        height:200px;        
    }
    #nice-thoughts p {       
        font-size: 18px;         
    }
}

@media (max-width:300px) {
    #nice-thoughts {        
        width:220px;
        height:200px;        
    }
    #nice-thoughts p {       
        font-size: 10px;         
    }
}
